 /* O CSS usa as tags do HTML para alterar os atributos, um exemplo é body, strong e etc... Basta ler o HTML e ver as tagas que deseja alterar */ 



body {
    background-color: black; /* Cor de fundo do site */
    color: #F6F6F6; /* Cor do texto */ 
}

h1{
    text-align: center; /* Alinhamento do texto */ 
}

strong {
    color: #22D4FD;
    font-size: 35px; /* Tamanho da fonte */ 
}

em strong{
    color: red; /* Separando estruturas de strong para colocar as cores de forma indiviual */ 
}

span{
    color: #22D4FD; 
    border: 1px solid #22D4FD; /* (Borda com 1 px de largura, do tipo sólida e cor da borda azul) */
    padding: 10px; /* (Espaçamento interno de 10px) */
}

#imagem {
    width: 100%;
    height: 150px;
}