header {
    background: #BBBBBB;
    padding: 20px 0; /*Espaçamento cabeçalho*/
}

.caixa {
    position: relative; 
    width: 940px; /*Uma caixa interna para ajustar os atributos*/
    margin: 0 auto;
}

nav {
    position: absolute; /*Organizando os atributos*/
    top: 110px;
    right: 0;
}

nav li {
   display: inline; /*Faz com que um arquivo/texto fique ao lado de outro e não embaixo */
   margin: 0 0 0 15px; /*Espaçamento do texto à esquerda */
}

nav a {
    text-transform: uppercase; /*Deixando texto em maísculo */
    color: black; /*Deixando texto na cor preta */
    font-weight: bold; /*Deixando texto em negrito */
    font-size: 22px; /*Tamanho do texto */
    text-decoration: none; /*Tirando o sublinhado deixado pela tag <a> */
}

.produtos { /*Criando o bloco que irá armazenar os conteúdos*/
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}

.produtos li { /*Centralizando os conteúdos e dimensionando os espaços*/
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-preço {
    font-size: 22px;
    font-weight: bold;
}

.produto-descrição {
    font-size: 18px ;
    
}