@charset "UTF-8";


:root {
    --cor-fundo: rgb(41, 43, 54);
    --cor-botao: rgb(0, 171, 223);
    --cor-lista-menu:rgb(223, 222, 222);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100vw;
    height: 70px;
    background-color: var(--cor-fundo);
    position: relative;
    box-shadow: 0px 0px 3px black;
}


#botao {
    font-size: 45px;
}

span {
    margin: 15px 0px 0px 0px;
    padding-left: 4px;
    
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    list-style: none;
    width: 55vw;
}


.lista-menu a {
    text-decoration: none;
    color: black;
    margin: 1em;
    
}

.botao:checked~.lista-menu{ /* Se o checkbox for preenchido executa o comando abaixo*/
    display: block;
}

#botao{
    color: white;
}

#botao:active {
    color: var(--cor-botao);
    background-color: rgb(36, 36, 36);
  }


li{
    
    padding: 12px 0px 1em 0px;
    background-color: var(--cor-lista-menu);
    text-transform: uppercase;
}


a:hover {
   text-decoration: underline;
}

.botao {
    display: none;
}

.cel {
width: 50px;
float: right;
margin-top: 0.6em;
}