@charset "UTF-8";



@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

:root {
    --cor-fundo: rgb(41, 43, 54);
    --cor-botao: rgb(2, 154, 201);
    --cor-lista-menu:rgb(223, 222, 222);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(239, 239, 240, 0.514);
}

header {
    width: 100vw;
    height: 70px;
    background-color: var(--cor-fundo);
    position: relative;
    box-shadow: 0px 0px 3px black;
    margin-bottom: 80px;
}

.botao {
    display: none;
}

#botao {
    font-size: 45px;
    color: white;
}

#botao:active {
    color: var(--cor-botao);
}

.botao:checked~.lista-menu { /* Se o checkbox for preenchido executa o comando abaixo*/
    display: block;
}

span {
    margin: 15px 0px 0px 0px;
    padding-left: 4px;
    
}


.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    list-style: none;
    width: 55vw;
}


.lista-menu a {
    text-decoration: none;
    color: black;
    margin: 1em;
    
}

li{
    
    padding: 12px 0px 1em 0px;
    background-color: var(--cor-lista-menu);
    text-transform: uppercase;
    border: 0.1em solid rgba(0, 0, 0, 0.034);
}


a:hover {
   text-decoration: underline;
}


.cel {
width: 50px;
float: right;
margin-top: 0.6em;
}


main img {
    display: flex;
    width: 100vw;
    margin: auto;
    
}
.foto {
    width: 170px;
    border-radius: 90px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 3px black;
}

#inicio h1, h2 {
    display: block;
    margin: auto;
    padding: 0px 10px 0px 40px;
    font-family: 'Oswald', Arial, sans-serif;
    letter-spacing: 1.5px;

    
}

#inicio h2 {
    margin-bottom: 10px;
}

strong {
    color: var(--cor-botao);
}

#inicio .texto {
    display: block;
    text-align: justify;
    text-indent: 12px;
    padding: 20px;
    margin: 4px;
}


